body {
    background-image: url("tired_animation_02.gif");
    background-size: cover;
    background-repeat: repeat;
    background-size: contain;
}

div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-family: serif;
    font-size: 135%;
}